@import "tailwindcss";

@theme {
    --color-primary: #2dd4bf;
    --color-secondary: #6ee7b7;
    --color-tertiary: #E8F2F1;    
    --color-Quaternary: #64C5B2;       
    --color-hover-text: #64C5B2;
    --color-text: #000;

    --color-success: #3FA34D;
    --color-warning: #EFB700;
    --color-error: #D64545;         
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
